<nav id="column-left">
    <div id="profile">
        <div>
            <!-- <i class="fa fa-opencart"></i>
          -->
            <img src="__STATIC__/admin/image/avatar.png" style="max-width:42px; max-height: 42px;" ></div>
        <div>
            <h4>HelloKang</h4>
            <small>Administrator</small>
        </div>
    </div>
    <ul id="menu">
        <li id="dashboard">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>管理首页</span>
            </a>
        </li>
        <li id="catalog">
            <a class="parent">
                <i class="fa fa-tags fa-fw"></i>
                <span>用户管理</span>
            </a>
            <ul>
                <li>
                    <a href="{:url('User/index')}">展示用户</a>
                </li>
            </ul>
        </li>
        <li id="dashboa">
            <a class="parent">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>问题首页</span>
            </a>
            <ul>
                <li>
                    <a href="{:url('Ques/index')}">问题表</a>
                </li>
            </ul>
        </li>

        <li id="design">
            <a class="parent">
                <i class="fa fa-television fa-fw"></i>
                <span>标签设计</span>
            </a>
            <ul>
                <li>
                    <a href="{:url('Tag/index')}">展示标签</a>
                </li>
            </ul>
        </li>










        </li>
    </ul>
</nav>