{extend name='template/layout' /}
{block name='content'}
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{:url('save')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                </a>
                <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确认？') ? $('#form-product').submit() : false;">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <h1>管理员管理</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">管理员管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-list"></i>
                    品牌列表
                </h3>
            </div>
                <form action="{:url('multidel')}" method="post" enctype="multipart/form-data" id="form-product">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" onclick="$('input[name*=\'id\']').prop('checked', this.checked);" />
                                </td>

                                <td class="text-left">
                                    <a href="">ID</a>
                                </td>
                                <td class="text-left">
                                    <a href="">管理员</a>
                                </td>
                                <td class="text-left">
                                    <a href="">密码</a>
                                </td>
                                <td class="text-left">
                                    <a href="">盐</a>
                                </td>
                                <td class="text-left">
                                    <a href="">创建时间</a>
                                </td>
                                <td class="text-left">
                                    <a href="">修改时间</a>
                                </td>
                                <td class="text-left">管理</td>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='val'}
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="id[]" value="{$val.id}" />
                                </td>

                                <td class="text-left">
                                    {$val['id']}
                                </td>
                                <td class="text-left">
                                    {$val['username']}
                                </td>
                                <td class="text-left">
                                    {$val['password']}
                                </td>
                                <td class="text-left">
                                    {$val['salt']}
                                </td>
                                <td class="text-left">
                                    {$val['create_at']}
                                </td>
                                <td class="text-left">
                                    {$val['update_at']}
                                </td>
                                <td class="text-left">
                                    <a href="{:url('showAuth',['id'=>$val['id']])}" data-toggle="tooltip" title="查看权限" class="btn btn-primary pull-left">
                                        <i class="fa fa-key"></i>
                                    </a>
                                    <a href="{:url('privilege',['id'=>$val['id']])}" data-toggle="tooltip" title="重新授权" class="btn btn-primary" style="margin-left: 60px">
                                        <i class="fa fa-key"></i>
                                    </a>
                                    <a href="{:url('save',['id'=>$val.id])}" data-toggle="tooltip" title="编辑" class="btn btn-primary pull-right">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>

                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">

                    </div>
                    <div class="col-sm-6 text-right">显示开始 1 到 20 之 23 （总 2 页）</div>
                </div>
            </div>
        </div>
{/block}