{extend name='template/layout' /}

{block name="addquestion"}
{if condition="$userInfo['status']!=2"}
<li id="dashboa">
    <a href="{:url('Content/save')}">
        <i class="fa fa-puzzle-piece fa-fw"></i>
        <span>添加问题</span>
    </a>
</li>
{/if}
{/block}

{block name="tag_type"}
{volist name="tagnames" id="row"}
<ul>
    <li>
        <a href="{:url('Question/tag',['tid'=>$row['id']])}">{$row['tagname']}</a>
    </li>
</ul>
{/volist}
{/block}
{block name="count"}{$count}{/block}
{block name='content'}
<div style="padding: 10px; width: 600px" class="pull-left">
    <form action="" method="post" enctype="multipart/form-data" id="form-save"  name ="itemsForm" >
        <img src="__ROOT__/uploads/{$data.photo}" class="img-circle pull-left" style="width:70px;height:70px; margin-left: 50px;float: left">
        <input type="file" style="position:absolute;top:44px;left:280px;cursor:pointer;opacity:0;width:100px;height:90px;" accept="image/*" name="photo" id="upload">
        <a style="background-color: #5daa53;color: #FFFFFF;display: inline-block;width: 80px;height: 30px;line-height: 30px;text-align: center;margin-left: -4px; cursor: pointer;margin: 20px 46px;clear: both;float: left" id="uploads">点击修改头像</a>
        <div style="clear: both;padding-top: 10px">
            <div class="form-group">
                <label for="input-username">用户名</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" value="{$data['username']|default=''}" placeholder="用户名" id="input-username" class="form-control" maxlength="30"/>
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" id="password1">安全密码</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="passwd" value="" placeholder="安全密码" id="input-password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" id="password2">再次输入密码</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="passwd2" value="" placeholder="安全密码" id="password" class="form-control" />
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary"><i class="fa fa-key"></i>保存</button>
            </div>
        </div>
    </form>
</div>
<div class="pull-right" style="width: 500px;height: 395px">
</div>
{/block}
{block name='appendJs'}
<script>
    $(function(){
          $('#password').blur(function () {
              var passwd1=$('#input-password').val();
              var passwd2=$('#password').val();
              if(passwd1!=passwd2){
                  $('#password2,#password1').text('两次输入密码不统一');
                  $('#password2,#password1').css('color','red');
              }
          });
          $('#uploads').click(function () {
              document.forms['itemsForm'].action = "{:url('upload')}";
              document.forms['itemsForm'].submit();
          });
        $('.btn').click(function (){
            event.preventDefault();
            var passwd1=$('#input-password').val();
            var passwd2=$('#password').val();
            var username=$('#input-username');
            if(passwd1!=passwd2){
                alert('两次密码不统一');
            }else
            if(passwd1==''){
                alert('密码不能为空');
            }else
            if(username==''){
                alert('用户名不能为空');
            }else {
                document.forms['itemsForm'].submit();
            }

        });
    });
</script>
{/block}