<nav id="column-left">
    <div id="profile">
        <div>
            <!-- <i class="fa fa-opencart"></i> -->
            <img src="__STATIC__/admin/image/avatar.png" style="max-width:42px; max-height: 42px;" >
        </div>
        <div>
            <h4>HelloKang</h4>
            <small>Administrator</small>
        </div>
    </div>
    <ul id="menu">
        <li id="dashboard">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>首页展示</span>
            </a>
        </li>
        <li id="dashboa">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>添加问题</span>
            </a>
        </li>
        <li id="dashboar">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>未解决问题</span>
            </a>
        </li>
        <li id="dashboa">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>我的问题</span>
            </a>
        </li>
        <li id="dashbo">
            <a href="">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>更改我的信息</span>
            </a>
        </li>
        <li id="catalog">
            <a class="parent">
                <i class="fa fa-tags fa-fw"></i>
                <span>错误分类</span>
            </a>
            <ul>
                <li>
                    <a href="">商品分类</a>
                </li>
                <li>
                    <a href="">商品管理</a>
                </li>
                <li class="hidden">
                    <a href="">分期付款</a>
                </li>
                <li>
                    <a href="">筛选过滤</a>
                </li>
                <li>
                    <a class="parent">商品属性</a>
                    <ul>
                        <li>
                            <a href="">商品属性</a>
                        </li>
                        <li>
                            <a href="">属性组</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">商品选项</a>
                </li>
                <li>
                    <a href="{:url('')}">品牌管理</a>
                </li>
                <li>
                    <a href="">下载设置</a>
                </li>
                <li>
                    <a href="">商品评论</a>
                </li>
                <li>
                    <a href="">信息管理</a>
                </li>
            </ul>
        </li>

    </ul>
    <div id="stats">
        <ul>
            <li>
                <div>
                    订单已经完成
                    <span class="pull-right">0%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    订单待处理
                    <span class="pull-right">0%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    其它状态
                    <span class="pull-right">0%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>