{extend name='template/layout' /}
{block name="tag_type"}
{volist name="tagnames" id="row"}
<ul>
    <li>
        <a href="{:url('Question/tag',['tid'=>$row['id']])}">{$row['tagname']}</a>
    </li>
</ul>
{/volist}
{/block}
{block name="count"}{$count}{/block}
{block name='content'}
<div style="width: 1150px;margin: 0 auto">
    <div style="font-size: 15px;color: red;margin-left: 20px;line-height: 20px">问题是: <br>{$data}</div>
    <div style="margin-left: 40px">
        解决办法: <br>
        {$list.content}
    </div>
</div>
{/block}