{extend name='template/layout' /}
{block name="tag_type"}
{volist name="tagnames" id="row"}
<ul>
    <li>
        <a href="{:url('Question/tag',['tid'=>$row['id']])}">{$row['tagname']}</a>
    </li>
</ul>
{/volist}
{/block}
{block name='content'}
<form action="{:url('Content/save')}" method="post">
<div id="aaa" style="width: 1275px">
    <h3 style="font-size: 25px;color:#ad4426">请输入你的问题信息</h3>
        <textarea name="title" cols="196" rows="10"></textarea>
        <div style="height: 50px ;font-size: 15px">
            {volist name="tagnames" id="row"}
            <input type="radio" value="{$row.id}" name="t_id"> {$row.tagname}
            {/volist}
        </div>
        <!-- 加载编辑器的容器 -->
        <script id="ssd" name="content" type="text/plain">
           {if condition="isset($data2['content'])"}
                {$data2.content}
           {/if}
        </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = UE.getEditor('ssd');
    </script>
</div>
    <input type="submit">
</form>
{/block}